<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a class=big-link href=/>< home</a>
  <div class=content>{{ content | safe }}</div>
</body>
</html>