<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/" id=big-link>< Home</a>
  </nav>

  <main>
    {{ content | safe }}
  </main>
</body>
</html>
