---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/"
---

<link rel="stylesheet" href="/css/style.css">

<a class=big-link href=/>< home</a>

<div class=content id=note-pages>
  <h1 class=tag-name>Tag: {{ tag }}</h1>
  {% for note in collections.tags[tag] %}
    <a class=notes href="{{ note.url }}">{{ note.data.title }}</a>
  {% endfor %}
</div>